/* ID para el cuerpo de la página de login */
#body_bg {
    background-color:#009933;
}

/* ID para la cajita de login */
#login-form{
    background:#ecf9ec;
    border: 3 px solid #eeeee;
    padding:9px 9px;
    width:300px;
    border-radius:5px;
}

/* ID para aumentar la separación entre columnas */
#panel-th {
    padding: 0 30px 0 0;
}

/* ID para aumentar la separación entre columnas */
#panel-td {
    padding: 0 30px 0 0;
}

/* ID para poner el texto verde de las preguntas correctas */
#correcto-label {
    color:green;
}

/* ID para poner el texto rojo de las preguntas incorrectas */
#incorrecto-label {
    color:red;
}

#boton-regresar {

}

/* Clase para poner el texto blanco */
.whiteTextOverride {
    color: white !important;
}

/* Clase para el pie de página */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green ;
    color: white;
    text-align: center;
}
